@model VadtalDham.Model.ViewModel.UserPanel.SignIn
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>VadtalDham</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">
    <link href="~/logintheme/fonts/icomoon/style.css" rel="stylesheet" />
    <link href="~/logintheme/css/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/logintheme/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/logintheme/css/style.css" rel="stylesheet" />
    <script src="~/logintheme/js/jquery-3.3.1.min.js"></script>
    <style>
        .img {
            background-image: url('logintheme/images/bg_1.jpg');
        }
        .btn{
            background-color: #6b0000;
            color:white;
        }
        .btn:hover{
            color: white;
        }
    </style>
</head>
<body>
    <div class="d-lg-flex half">
        <div class="bg order-1 img"></div>
        <div class="contents order-2 order-md-1">
            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-md-7">
                        <h3>Login to <strong>Your Account</strong></h3>
                        <p class="mb-4">Welcome! Let's Get Started!</p>
                        @using (Html.BeginForm("SignIn", "Login", FormMethod.Post))
                        {
                            <div class="form-group first">
                                @Html.LabelFor(x => x.UserEmail)*
                                @Html.TextBoxFor(x => x.UserEmail, new { @class = "form-control",  placeholder = "your-email@gmail.com",id = "username" })
                                @Html.ValidationMessageFor(x => x.UserEmail,"", new { @class = "text-danger"})
                            </div>
                            <div class="form-group last mb-3">
                                @Html.LabelFor(x => x.Password)*
                                @Html.TextBoxFor(x => x.Password, new {type = "password",  @class = "form-control",  placeholder = "Your Password",id = "password" })
                                @Html.ValidationMessageFor(x => x.Password,"", new { @class = "text-danger"})
                            </div>
                            @if (TempData["Error"] != null)
                            {
                                <h5 class="text-danger">@TempData["Error"]</h5>
                            }
                            <div class="d-flex mb-5 align-items-center">
                                <span class="ml-auto"><a class="forgot-pass" asp-area="" asp-controller="Login" asp-action="ForgotPassword">Forgot Password</a></span>
                            </div>
                            <button type="submit" class="btn btn-block btn">Log In</button>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
<script src="~/logintheme/js/popper.min.js"></script>
<script src="~/logintheme/js/bootstrap.min.js"></script>
<script src="~/logintheme/js/main.js"></script>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.12/dist/sweetalert2.all.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.12/dist/sweetalert2.min.css" rel="stylesheet">
@if (TempData["Update"] != null)
{
    <script>
        Swal.fire({
            position: 'top-end',
            icon: 'success',
            title: 'Password Changed Successfully',
            showConfirmButton: false,
            timer: 1500
        })
    </script>
}