@model SchoolManagement_340.Models.CustomModel.CustomSignUp
@{
    ViewBag.Title = "SignUp";
    Layout = "~/Views/Shared/_Login.cshtml";
}
<style>
    .bg-register-image {
        background: url("https://images.unsplash.com/photo-1683818788012-ecfcbb102a7a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHx0b3BpYy1mZWVkfDkxfEpwZzZLaWRsLUhrfHxlbnwwfHx8fHw%3D&auto=format&fit=crop&w=500&q=60");
        background-position: center;
        background-size: cover
    }
</style>
<div class="card o-hidden border-0 shadow-lg my-5">
    <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        <div class="row">
            <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
            <div class="col-lg-7">
                <div class="p-5">
                    <div class="text-center">
                        <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
                    </div>
                    @using (Html.BeginForm("SignUp", "Login", FormMethod.Post))
                     {
                        <div class="form-group row">
                            <div class="col-sm-6 mb-3 mb-sm-0">
                                @Html.TextBoxFor(x => x.UserFirstName, new { @class = "form-control form-control-user", placeholder = "FirstName" })
                                @Html.ValidationMessageFor(x => x.UserFirstName, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-sm-6">
                                @Html.TextBoxFor(x => x.UserLastName, new { @class = "form-control form-control-user", placeholder = "LastName" })
                                @Html.ValidationMessageFor(x => x.UserLastName, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.TextBoxFor(x => x.UserEmail, new { @class = "form-control form-control-user", placeholder = "Email" })
                            @Html.ValidationMessageFor(x => x.UserEmail, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-6 mb-3 mb-sm-0">
                                @Html.TextBoxFor(x => x.UserPassword, new { type = "password", @class = "form-control form-control-user", placeholder = "Password" })
                                @Html.ValidationMessageFor(x => x.UserPassword, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-sm-6">
                                @Html.TextBoxFor(x => x.ConfirmPassword, new { type = "password", @class = "form-control form-control-user", placeholder = "ConfirmPassword" })
                                @Html.ValidationMessageFor(x => x.ConfirmPassword, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.EnumDropDownListFor(x => x.Role, "--- Select Role ---", new {@class = "form-control form-control-user"})
                            @Html.ValidationMessageFor(x => x.Role, "", new { @class = "text-danger" })
                        </div>
                        <button type="submit" class="btn btn-primary btn-user btn-block mt-4">Register Account</button>
                        <hr>
                        <a href="index.html" class="btn btn-google btn-user btn-block">
                            <i class="fab fa-google fa-fw"></i> Register with Google
                        </a>
                        <a href="index.html" class="btn btn-facebook btn-user btn-block">
                            <i class="fab fa-facebook-f fa-fw"></i> Register with Facebook
                        </a>
                     }
                    <hr>
                    <div class="text-center">
                        <a class="small" href="/Login/Forgot">Forgot Password?</a>
                    </div>
                    <div class="text-center">
                        <a class="small" href="/Login/SignIn">Already have an account? Login!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



