@model List<StudentRegistration.Models.sp_View_School_Student_Info_Result1>
<div class="container">
    <div class="p-4">
        <h1 class="text-center">Show Student Data</h1>
    </div>
</div>
    <div class="p-3">
        <div class="table-responsive">
            <table id="DataTable">
                <thead>
                    <tr>
                        <th> Enrollment Number </th>
                        <th> First Name </th>
                        <th> Last  Name </th>
                        <th> Phone Number </th>
                        <th> Email Address </th>
                        <th> Birth Date </th>
                        <th> Gender </th>
                        <th> Address </th>
                        <th> Country </th>
                        <th> State </th>
                        <th> City </th>
                        <th> Action </th>
                    </tr>
                </thead>
                <tbody>
                       @{ 
                           foreach(var data in Model)
                           {
                                <tr>
                                    <td>@data.Id</td>
                                    <td>@data.FName</td>
                                    <td>@data.LName</td>
                                    <td>@data.PhoneNumber</td>
                                    <td>@data.EmailId</td>
                                    <td>@data.BirthDate</td>
                                    <td>@data.Gender</td>
                                    <td>@data.Address</td>
                                    <td>@data.CountryName</td>
                                    <td>@data.StateName</td>
                                    <td>@data.CityName</td>
                                    <td><a href="/Home/EditStudentInfo/@data.Id" class="btn btn-outline-info">Edit</a><a href="/Home/DeleteStudentInfo/@data.Id" class="btn btn-outline-danger">Delete</a></td>
                                </tr>
                           }
                       }
                </tbody>
            </table>
        </div>
    </div>