@model CoreDemoApp.Model.ViewModel.UserPanel.SignIn
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SMS</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CoreDemoApp.styles.css" asp-append-version="true" />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.12/dist/sweetalert2.all.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.12/dist/sweetalert2.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
</head>
<body> 
    <h2 class="text-center text-decoration-underline mt-2">Sign In</h2>
    <div class="container mt-3">
        @using (Html.BeginForm("SignIn", "Login", FormMethod.Post))
        {
            <div>
                @Html.LabelFor(x => x.UserEmail)
                @Html.TextBoxFor(x => x.UserEmail, new { @class = "form-control",  placeholder = "Enter Email" })
                @Html.ValidationMessageFor(x => x.UserEmail,"", new { @class = "text-danger"})
            </div>
            <div class="mt-2">
                @Html.LabelFor(x => x.Password)
                @Html.TextBoxFor(x => x.Password, new {type = "password",  @class = "form-control",  placeholder = "Enter Password" })
                @Html.ValidationMessageFor(x => x.Password,"", new { @class = "text-danger"})
            </div>
            @if (TempData["Error"] != null)
            {
                <h4 class="text-danger">@TempData["Error"]</h4>
            }
            <div class="mt-2"><a href="/Login/SignUp" class="text-decoration-none">Don't Have an Account!! Please Register an Account</a></div>
            <div class="text-center mt-2">
                <button type="submit" class="btn btn-outline-primary">Submit</button>
            </div>
        }
    </div>
</body>
</html>
@if (TempData["LogOut"] != null)
{
    <script>
        Swal.fire({
            title: 'You are LogOut..',
            showClass: {
                popup: 'animate__animated animate__fadeInDown'
            },
            hideClass: {
                popup: 'animate__animated animate__fadeOutUp'
            },
            allowOutsideClick: false
        })
    </script>
}